body {
    background-color: beige;
    text-align: center;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.comentario {
    background-color: azure;
    border-radius: 7px;
    border: 2px skyblue #333;
    padding: 100px;
    width: 300px;
    height: 150px;
    margin: auto;
    box-shadow: 8px 13px 16px rgba(207, 192, 192, 0.205);
}
#texto {
    width: 75%;
    font-size: 14px;
    padding: 6px;
    border-radius: 6px;
    border: 2px solid rgb(173, 224, 222);
    margin-bottom: 10px;
}
#boton {
    background-color: #3a5474; 
    border: none;
    border-radius: 5px;
    color: beige;
    font-size: 16px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 03sg;
}
#boton:hover {
    background-color: #2b3f57;
}
